@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Mono&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;

}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  background-color: #313131;
  font-family: "Inter", sans-serif;
}


::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #D0D0D0;
  border-radius: 10px;
}